body {
  background-color: rgb(240, 251, 255);
}

h1, p {
  font-family: "Courier";
}

button {
  font-family: "Courier";
  border-radius: 0.5rem;
  border-color: white;
  padding: 0.5rem;
}

button:hover {
  background-color: lightgray;
}

.container {
  text-align: center;
  width: 100%;
  height: 86%;
  margin-top: 2%;
  padding-bottom: 3rem;
}

.button-container {
  background-color: rgb(232, 242, 245);
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
}

.misc-area {
  margin-right: 1rem;
}

.rainbow-container, .pipe-container {
  display: flex;
  justify-content: center;
}

h5 {
  margin: 0;
}

.interact-container {
  font-family: "Courier";
  padding: 0.5rem;
  width: 98%;
  margin-left: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.table-container {
  margin: 1.5rem;
}

.slider-container, .speed-container, .table-container {
  font-family: "Courier";
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 85%;
  height: 25px;
  background: lightgray;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

#table-information {
  column-gap: 5rem;
}

#table-information td, #table-information th {
  width: 25rem;
}

.worst-case-ip, .average-case-ip, .best-case-ip, .sort-ip-title {
  font-size: 2rem;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.worst-case-ip {
  color: red;
}

.average-case-ip {
  color: yellow;
}

.best-case-ip {
  color: lightgreen;
}

.sort-ip-title {
  font-size: 2.1rem;
  color: lightgray;
}

.ip-hidden {
  display: None;
}

#slider-value {
  min-width: 1rem;
  max-width:1rem;;
}